<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.email %></td>
        <td><%= link_to 'Show', account %></td>
        <td>
          <% if account.freeze %>
            <%= button_to 'To Unfreeze', account_freeze_path(account), method: :delete %>
          <% else %>
            <%= button_to 'To Freeze', account_freeze_path(account) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
